<!DOCTYPE html>
<html>
<head>
	<title>Intro to Web Dev Denison</title>
	<style>
		body {
		  margin: 0 auto;
		  max-width: 50em;
		  font-family: "Helvetica", "Arial", sans-serif;
		}

	</style>
</head>
<body>

<h1>CSx 001:  Intro to Web Development</h1>
<h3>Building (& Deploy) Your First Web Application</h3>

<p>
You are a tech enthusiast/ a Computer Science student? You feel the need to learn more about the practical application of what you’ve learnt in the formal classroom? You want to be able to build any web application that you can think of? This class will provide you with the necessary knowledge to start building your first website/web application/ personal project.</p>

<p>Topics: This class focuses on the practical application of computer science in the Internet age. Students will learn about the following topics by examining their roles in popular websites, and eventually apply this knowledge to small projects and a final project</p>


Everyday elements of web: the web application, front-end, back-end, server-side, client-side, database
Architectural elements of the web: web server, web address, network/system administration
From static to interactive + responsive: HTML5/CSS3, Javascript and jQuery, Bootstrap
From static to dynamic: Database (relational and non-relational); Web development language & frameworks: Python, PHP, Ruby on Rails; REST, AJAX
Development practices: command line, collaboration & version control (Git), tools
Deployment/System Administration: Heroku, Amazon Web Services
Stand on shoulders of the giants: Leveraging the world of libraries and APIs
(Introduction of) New technologies: HTTP/2, AngularJS, React, Cassandra, Polymer

The class will focus on breadth. In this class, learning is by example and by doing, as all activities are aimed to be as interactive as possible.

Prerequisite: Fundamental understanding of computer science: loop, conditionals, functions. The level of the class will be adjusted according to overall level of students.

Final Project: In this project students will employ the skills they have acquired earlier to design and implement a web development project of their interest.

Schedule: TBD together. 3-4 hours/week. 6-8 weeks. Concludes at the end of November.
Lecture/Discussion: 
Twice a week, 7-8 p.m. Tuesday + Thursday (or per class vote)
Once a week, 7-9 p.m. Tuesday (or per class vote)
Lab Day: Saturday 2-4pm (or per class vote)

Class participation & certificate: In order to receive a certificate of completion from Denison Experimental College, students must attend at least 85% of the classes and complete all homework assignments, including the final project.
</body>
</html>



